.section-one {  
    background-color: #1F2937;
} 

#header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
}

.navigationbar {
    display: flex;
}

ul {
    display: flex;

}