@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); /*imported google font*/

*{ /*applies to all text*/
    margin: 0;
    padding: 0;
    

}

.section-one {  
    background-color: #1F2937;
} 

#header-logo { /*Id therefore # as opposed to . to display class*/
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
}

.navigationbar {
    display: flex;
   
}

ul {
    display: flex;
}

.left-nav,.right-nav {
    display: flex;
    width: 50%; /* splits navbar down the middle, notice split*/
    justify-content: center;
    align-items: center;    
}

body {
    font-family: 'Roboto', sans-serif; /*imported from google fonts, note start url*/
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;  
}


.content {          
    display: flex;
    flex-direction: row; 
    margin: 50px;
}

.content-right {
    display: flex;
    justify-content: center; 
    align-items: center;  
    flex-direction: column;
    width: 50%;
}

.content-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content:center ;
    margin-left: 150px;
}

img {
    margin-bottom: 50px;

}

.p-one {
    font-size: 18px;
    color: #E5E7EB;
   
}

.sign-up-section-one {
    background-color: #3882f6;
    color: white;
    width: 100px; /*button dimensions*/
    height: 25px; 
    border: 1px  #3882f6; /*eliminates whitespace around button */
    border-radius: 10px; /* rounds corners */

}

h2 {
    display: flex;
    font-size: 36px;
    font-weight:bolder;
    color: #1F2937;
    justify-content: center;
}

.four-blue-divs {
    display: flex; /*takes text from column (vertical) to row (horizontal)
}